.layout {
  display: flex;
  height: 100vh;
  color: var(--primary-black-text-color);
  font-weight: 500;
  font-size: 14px;
}

.sidebar {
  /* width: 280px; */
  width: 290px;
  background-color: var(--primary-background-menu-color);
  border-right: 1px solid #e9ecef;
  padding: 20px;
  border-radius: 0 24px 0 0;
  
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 1rem;
}

.nav-link {
  padding: 12px 16px;
  text-decoration: none;
  color: #495057;
  border-radius: 6px;
  transition: all 0.2s ease;
}

.nav-link:hover {
  background-color: #e9ecef;
  color: var(--primary-black-text-color);
}

.nav-link.active {
  background-color: var(--primary-yellow-color);
}

.main-content {
  flex: 1;
  height: 100vh;
  padding: 20px;
  overflow-y: auto;
}
