@import "tailwindcss";


:root {
  --primary-yellow-color: #FFD700;
  --primary-second-yellow-color: #F1CF14;

  --primary-yellow-text-color-yellow: #9A8722;
  --primary-black-text-color: #181818;
  --primary-gray-text-color: #8F8F8F;

  --primary-background-body-color: #F8F8F8;
  /* --primary-background-menu-color: #C6C6C640; */
  /* --primary-background-menu-color-2: #FFFFFF; */
  --primary-background-menu-color: #FFFFFF;
  --primary-background-color: #FFFFFF;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
}